extends ../layout

block content
  div(class="container text-center")
    div(class="col-md-4")
    div(class="col-md-4")
      img(class="img-thumbnail avatar-lg" src='/' + user_param.avatar)
      br
      - const EDIT_URL = '/users/' + user_param.username + '/edit'
      - if (user && (user.username == user_param.username)) {
        a(href=EDIT_URL): img(class="icon" id="pencil_edit" src="/img/pencil.png")
        a(href=EDIT_URL) Edit your profile
      - }
      p This is the profile page for #{user_param.username}.
      p "#{user_param.favoriteTrick}" is #{user_param.username}'s favorite Boomer trick!
    div(class="col-md-4")